name: Deploy DB to Production

on:
  push:
    branches:
      - master
    paths:
      - 'supabase/migrations/**' # Solo se ejecuta si hay cambios en migraciones

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      SUPABASE_DB_PASSWORD: ${{ secrets.SUPABASE_DB_PASSWORD }}
      PROJECT_ID: ${{ secrets.PRODUCTION_PROJECT_ID }}
    steps:
      - uses: actions/checkout@v4

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Link to Production
        run: supabase link --project-ref $PROJECT_ID --password $SUPABASE_DB_PASSWORD

      - name: Push Migrations
        run: supabase db push --password $SUPABASE_DB_PASSWORD
